<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">

    <link rel="icon" type="image/png" sizes="32x32" href=# />
    <title>SurfShop Biarritz</title>
</head>

<body>










    <header>
        <div class="header_container">

            <img src="images/logo.png" alt="logo" class="logo">
            <nav>
                <ul class="menu">
                    <li class="item">Accueil</li>
                    <li class="item">A propos</li>
                    <li class="item">Produits</li>
                    <li class="item">Contact</li>
                    <div class="nav_client">
                        <a href="cart.html">Panier</a>
                        <a href="signin.html">Mon compte</a>
                    </div>
                </ul>


                <div class="mobil_menu">
                    <img class="mobil_but" src="images/mobil_menu.svg" alt="mobil">
                    <h3>m e n u</h3>
                </div>

            </nav>

        </div>
    </header>
    <div class="main_container">
        <section class="container_banner">

            <div class="main_banner">
                <div class="banner_content">

                    <h1>le surfshop</h1>
                    <h2>biarritz</h2>
                    <h3>Les meilleures planches sur la côte Basque!</h3>
                </div>
            </div>
        </section>

        <section class="container_about">


            <div class="about_content">
                <h2>Le SurfShop `BTZ`</h2>
                <br>
                <p>Fondé en 1995, sit amet consectetur adipisicing elit. </p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo repellendus voluptate architecto saepe
                    molestiae et quisquam? Delectus tempore corrupti eius.</p>
                <br>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, labore vel itaque tempore quam quae
                    illum saepe reprehenderit, consectetur iusto incidunt, doloremque rem amet et voluptas eligendi
                    ullam
                    molestiae. Tenetur eius laborum ut? Aliquam quo cum architecto ab deserunt, voluptatem qui rerum,
                    ipsam
                    atque odio eaque consectetur quaerat debitis necessitatibus!</p>
                <br>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione minus adipisci doloribus nemo qui
                    aperiam in voluptatem, itaque asperiores laudantium provident est tempore. Impedit beatae
                    praesentium
                    commodi voluptatibus sunt sit repudiandae, placeat ipsa quas quasi reprehenderit delectus dolores
                    aperiam, aliquid laboriosam hic, doloribus aspernatur quod facere vero eligendi fuga iusto.</p>
            </div>
        </section>



        <section class="container_quality">

            <div class="quality">

                <div class="quality_about">


                    <div class="service-title">
                        <h2>Nos Garanties</h2>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae itaque suscipit, iure
                            delectus possimus explicabo aut quae natus? Omnis natus dolor culpa esse necessitatibus
                            voluptas laboriosam non ad nobis architecto explicabo, consequuntur quidem autem?</p>
                    </div>

                </div>

                <div class="quality_items">

                    <div class="items_q">

                        <div class="q_wrap">
                            <div class="q-icon">
                                <i class="fas fa-hand-holding-heart"></i>

                            </div>
                            <h4>Fabrication artisanale</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, dolore aut aliquam eos
                                obcaecati facere accusantium error quidem. Illum repudiandae sed mollitia
                                quod.</p>
                            <a href="#">En savoir plus</a>
                        </div>
                    </div>
                    <div class="items_q">

                        <div class="q_wrap">
                            <div class="q-icon">

                                <i class="fas fa-truck"></i>

                            </div>
                            <h4>Livraison offerte</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit debitis, iste assumenda
                                porro accusamus voluptate, veniam, asperiores fugiat illo culpa officia ducimus error
                                placeat.</p>
                            <a href="#">En savoir plus</a>
                        </div>
                    </div>
                    <div class="items_q">

                        <div class="q_wrap">
                            <div class="q-icon">

                                <i class="fas fa-thumbs-up"></i>
                            </div>
                            <h4>Satisfait ou remboursé</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quas voluptatem
                                doloremque! Quas veritatis aliquid nam dolores explicabo vero laboriosam!</p>
                            <a href="#">En savoir plus</a>
                        </div>
                    </div>




                </div>
            </div>
        </section>



        <section class="container_products">
            <h2>Nos planches</h2>

            <div class="products">

                <div class="product-card">
                    <div class="product_image">

                        <a href="product.html">
                            <img src="images/board.png" alt="surf board">
                        </a>

                    </div>
                    <div class="product-info card-body">
                        <a href="product.html">
                            <h5>BTZ 6'4 Shortboard</h5>
                        </a>
                        <div class="rating">
                            <span>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </span>
                        </div>
                        <div class="price">
                            €699
                        </div>

                    </div>
                </div>
                <div class="product-card">
                    <div class="product_image">

                        <a href="product.html">
                            <img class="medium" src="images/board2.png" alt="surf board">
                        </a>

                    </div>
                    <div class="product-info">
                        <a href="product.html">
                            <h5>BTZ 8'0 Longboard</h5>
                        </a>
                        <div class="rating">
                            <span>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </span>
                        </div>
                        <div class="price">
                            €699
                        </div>

                    </div>
                </div>
                <div class="product-card">
                    <div class="product_image">

                        <a href="product.html">
                            <img class="medium" src="images/board.png" alt="surf board">
                        </a>

                    </div>
                    <div class="product-info card-body">
                        <a href="product.html">
                            <h5>BTZ 6'4 Shortboard</h5>
                        </a>
                        <div class="rating">
                            <span>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="far fa-star"></i>
                            </span>
                        </div>
                        <div class="price">
                            €699
                        </div>

                    </div>
                </div>
                <div class="product-card">
                    <div class="product_image">

                        <a href="product.html">
                            <img class="medium" src="images/board2.png" alt="surf board">
                        </a>

                    </div>
                    <div class="product-info">
                        <a href="product.html">
                            <h5>BTZ 8'0 Longboard</h5>
                        </a>
                        <div class="rating">
                            <span>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </span>
                        </div>
                        <div class="price">
                            €699
                        </div>

                    </div>
                </div>
                <div class="product-card">
                    <div class="product_image">

                        <a href="product.html">
                            <img class="medium" src="images/board.png" alt="surf board">
                        </a>

                    </div>
                    <div class="product-info card-body">
                        <a href="product.html">
                            <h5>BTZ 6'4 Shortboard</h5>
                        </a>
                        <div class="rating">
                            <span>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </span>
                        </div>
                        <div class="price">
                            €699
                        </div>

                    </div>
                </div>
                <div class="product-card">
                    <div class="product_image">

                        <a href="product.html">
                            <img class="medium" src="images/board2.png" alt="surf board">
                        </a>

                    </div>
                    <div class="product-info">
                        <a href="product.html">
                            <h5>BTZ 8'0 Longboard</h5>
                        </a>
                        <div class="rating">
                            <span>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </span>
                        </div>
                        <div class="price">
                            €699
                        </div>

                    </div>
                </div>

            </div>







        </section>

        <hr />
        <footer class="footer">

            <div class="footer_container">

                <div class="footer_about">
                    <h6>A propos</h6>
                    <p>Le Surfshop Biarritz a été fondé en 1995 Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Magni eveniet, natus et neque inventore illo ex sed nihil. Nostrum non ipsum cumque
                        provident corporis quos eius suscipit laboriosam, aliquam consequuntur modi incidunt
                        voluptatum id aliquid odit illo dignissimos? Inventore corporis vitae facilis ratione
                        expedita quibusdam deserunt minus, repudiandae quos quasi.</p>
                </div>

                <div class="footer_liens">
                    <div class="mobile_bug">

                        <div class="footer_section">
                            <h6>Catégories</h6>
                            <ul class="footer_lien">
                                <li><a href="#">Longboards</a></li>
                                <li><a href="#">Funboards</a></li>
                                <li><a href="#">Hybride</a></li>
                                <li><a href="#">Shortboard</a></li>
                            </ul>
                        </div>

                        <div class="footer_section">
                            <h6>Lien rapides</h6>
                            <ul class="footer_lien">

                                <li><a href="#">Produits</a></li>
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">Compte</a></li>
                                <li><a href="#">Panier</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer_socials">
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-facebook"></i>
                        <i class="fab fa-twitter"></i>
                    </div>
                    <div class="footer_contact">

                        <ul>
                            <li><i class="fas fa-mobile"></i> 06 12 34 56 78</li>
                            <li><i class="fas fa-envelope"></i> btz-surf@shop.com</li>
                        </ul>
                    </div>
                </div>




            </div>


            <div class="copyright">


                <p class="copyright_text">Copyright &copy; 2021 </p>

                <hr>
            </div>

        </footer>
    </div>













    <script>
        const menu = document.querySelector('.menu')
        const menuMobil = document.querySelector('.mobil_menu')
        console.log(menuMobil)

        menuMobil.addEventListener('click', () => {
            menu.classList.toggle('mobil')

        })


    </script>
</body>

</html>