
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
:root{
    --bg : #faf2e9;
    --maxWidth :1200px;
    --light-shadow: 0 5px 15px rgba(255, 255, 255, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

*, ::before,::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Oswald', sans-serif;
    font-size: 17px;
   
}
a{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}
li{
    list-style-type: none;
}
h2{
    position: relative;
    margin-bottom: 45px;
    display: inline-block;
    font-weight: 600;
    line-height: 1;
}
h2::before {
    content: "";
    position: absolute;
    left: 0;
    width: 60px;
    height: 2px;
    background: #000000;
    bottom: -25px;
    margin: auto;
    right: 0;
}
header{

  background: #FFF;
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
}
.header_container{
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: var(--maxWidth);
}
.logo{
    height: 50px;
    margin: 20px 15px;
}
nav{
    margin: 0 auto;
    width: 100%;
    max-width: var(--maxWidth);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.nav_client{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.nav_client a{
    margin: 0 20px;
}
.menu{
    display: flex;
    align-content: center;
    justify-content: flex-end;
    max-width: var(--maxWidth);

}
nav li{
    line-height: 60px;
    list-style-type: none;
    padding: 20px 15px;
    cursor: pointer;
}
.mobil_menu{
    display: none;
}
.main_container{
    margin: 0 auto;
    width: 100%;
    max-width: var(--maxWidth);
    
    
}
.container_banner{
    padding: 0;
}
.main_banner{
    background: url('images/banner_home.jpg') center/cover no-repeat;
    height: 628px;
    position: relative;
}

.banner_content{
    position: absolute;
    top: 50%;
    left: 5%;
    filter: drop-shadow(0 0 4px #fff)
}

.banner_content h3{
    font-size: 30px;
}
.banner_content h1,
.banner_content h2{
    font-size: 59px;
    text-transform: uppercase;
    
}

section{
    margin: 30px 0 ;
    padding: 0 15px;
}
/*------------About----------------------*/


.about_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}

.container_about p{
    line-height: 1.4;
    text-align: justify;
}

/*------------Quality----------------------*/

.container_quality{
    text-align: center;
    margin-top: 50px;
}

.service-title h2 {
    position: relative;
    margin-bottom: 45px;
    display: inline-block;
    font-weight: 600;
    line-height: 1;
    
}


.service-title p {
    
    margin-bottom: 30px;
}

.q_wrap h4 {
    margin-bottom: 23px;
    text-transform: capitalize;
    font-size: 20px;
    
}



.q-icon i {
    font-size: 40px;
    color: #1152a7;
    margin-bottom: 20px;
    display: inline-block;
}
.q_wrap {
    border: 1px solid #e6e6e6;
    padding: 50px 30px;
    position: relative;
}

.q_wrap a {
    padding-top: 15px;
    font-size: 14px;
    
    color: #1152a7;
}

.quality_items{
    display: flex;
    flex-wrap: wrap;
    
}
.items_q{
    max-width: 100%;
    margin:15px;
    flex:1 20%;
}


/*------------PRODUCTS----------------------*/

.container_products{
    max-width: var(--maxWidth);
    text-align: center;
   
}
.products {
    margin-top: 50px;
    display :flex;
    flex-wrap: wrap;
}
.product-card {
    border: 1px solid #e6e6e6;
    flex : 1 25%;
    padding: 5px;
    margin: 5px;

    
}

.product_image img{
  height: 39rem;
    max-width: 100%;
}
.product-info {
    padding: 1rem;
  }
.product-info>*{
    margin-bottom: 0.5rem;
}
.product-info h5{
    font-size: 1.8rem;
    padding: 1rem 0;
  }
.product-info h6{
    font-size: 1.6rem;
    padding: 1rem 0;
  }
  .price{
    font-size: 2rem; 
 }
  /* RATING  */
.rating span{
    color: #f0c040 ;
    margin:0.1rem;
 }
/*-------------FOOTER--------------*/

.footer{
max-width: var(--maxWidth);
  padding: 50px 15px 20px;
  margin-bottom: 20px;
  line-height:30px;
  color:#737373;
  font-size: 15px;
}
.footer h6{
    font-size: 17px;
    color: #000;
}

.footer_container{
    display: flex;
    flex-direction: column;
    
    
}
.footer_about{
    margin-bottom: 30px;
}
.footer_liens{
display: flex;
justify-content:flex-start;
flex-wrap: wrap;
}
.footer_section{
    margin-right: 100px;
}
.footer_socials{
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 50px;
}
.footer_socials i{
    margin: 0 25px;
    
}
.footer_contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
}
.footer_contact li{
    font-size: 20px;
}
.copyright{
    text-align: center;
}


@media screen and (max-width: 900px){
.product-card {
    flex: 1 33%;
  }

  .items_q{
flex : 1 33%;  
}
.footer_liens{
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.footer_section{
    font-size: 20px;
margin: 20px 30px;
text-align: center;
}
.footer_lien{
    margin: 50px 0 45px;
    display: flex;
    justify-content: center;
}
.footer_lien li{
    margin: 0 30px
}
.footer_contact{
    margin: 0 0 20px;
}
.footer_socials{
    margin: 0 0 20px;
}
}
@media screen and (max-width: 600px){
    .footer_liens{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .footer_liens{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    
    .footer_section{
    font-size: 20px;
    margin: 20px 30px;
    text-align: center;
    }
    .footer_section h6{
        font-size: 25px;
    }
    .footer_lien{
        margin: 30px 0 45px;
        display: flex;
        flex-direction: column;
    }
    .footer_lien li{
        margin: 15px 0;
    }
    
    .items_q{
        margin:15px;
        flex : 1 100%;  
    }
    .header_container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin: 0 auto;
        max-width: var(--maxWidth);
    }
    .menu{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.3s ease 0s;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        background: #fff;  
    }
    .menu.mobil{
        top:0;
    }
    .mobil_menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    .mobil_menu img{
        width: 50px;
    }
    .mobil_menu h3{
        margin-top: -4px;
        font-size: 12px;
    }

    .nav_client{
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .main_banner{
        background: url('images/banner_home.jpg')25% 75% /cover no-repeat;
        height: 100vh;
        margin-top: 100px;
        
    }

    .product-card {
        flex: 1 100%;
      }
      .product-card img{
          height: 390px;
      }
}
